
@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Login</title>
    <meta charset="UTF-8" />
    <link href="~/Content/assets/style.css" rel="stylesheet" />
</head>
<style>
.inset{
    width: 300px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
</style>
<body>
    @using (Html.BeginForm())
    {
        @Html.ValidationSummary(true)
        <form>
        
            <h1 style=" text-align:center">Đăng nhập quản trị viên</h1>
            <h4 style="color:yellow; text-align:center">@ViewBag.ThongBao</h4>
            <div class="inset">
                <p>
                    <label for="email">EMAIL ADDRESS</label>
                    <input style="  width: 100%;padding: 10px;margin-bottom: 10px;border: 1px solid #ccc;border-radius: 4px;" type="text" name="username" id="email">
                    @ViewData["Loi1"]
                </p>
                <p>
                    <label for="password">PASSWORD</label>
                    <input style="  width: 100%;padding: 10px;margin-bottom: 10px;border: 1px solid #ccc;border-radius: 4px;" type="password" name="password" id="password">
                    @ViewData["Loi2"]
                </p>
            
            </div>
            <p class="p-container" style=" text-align:center">
                <input type="submit" name="go" id="go" value="Đăng nhập">
            </p>
        </form>
        <div>
        </div>
    }
</body>
</html>
